*
{
	margin:0px;
	padding:0px;
}
#main_data{
	border:1px solid #2A70ED;
}
#main_data p{
	font-size:25px;
	margin:15px;
	color:#FFFFFF;
}
#main_data img{
	height:100px;
	margin:10px;
}
#main_data table{
	margin:0 auto;
}
#main_data th{
	font-size:20px;
	color:#FFFFFF;
}